   <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=user.username) }}">
                   <img src= "{{ url_for('static', filename='images/' + user.profile_pic)}}"  width="70"/>
                </a> 
            </td> 
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=user.username) }}">
                        {{ user.username }}
                    </a>
                {% endset %} 
                {{ _('%(username)s Registered on: %(when)s',
                    username=user_link, when=moment(user.timestamp).fromNow()) }} 
                <br>
                <span id="user{{ user.id }}">{{ user.name }}</span>
            </td>
        </tr>  
    </table>
    
